/Bubble Orbit - Desktop/Library
/Bubble Orbit - Desktop/Logs
/Bubble Orbit - Desktop/Temp

/Bubble Orbit - Mobile AR/Library
/Bubble Orbit - Mobile AR/Logs
/Bubble Orbit - Mobile AR/Temp

/Bubble Orbit Mobile2/Library
/Bubble Orbit Mobile2/Logs
/Bubble Orbit Mobile2/Temp

*.log
